.task-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 80%;
  max-width: 800px;
}

.task-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.task-input button.mat-raised-button {
  padding: 0.5em 1em;
  flex-shrink: 0;
}

.task-list .task-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-buttons {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.task-button {
  flex-shrink: 0;
  flex-basis: 50px;
  height: 50px;
  padding: 10px !important;
  box-sizing: border-box;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-button mat-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
